.container1 {
    height:180px;
    width:910px;
    padding : 15px;
    position: relative; z-index: 2;
    /* top:50px; */
    bottom:150px;
}

.container1-2{
    position: absolute;
    margin:10px;
    top:50px;
    
}

img {
    width:906px;
    height:650px;
    position:relative;
    right:15px;
    bottom:15px;
    position: relative; z-index: 4;
    vertical-align:top;
}

.container2 {
    text-align: center;
    border:1px dotted #000000;
    position: relative; z-index: 3;
    top:100px;
    background-color: #ffffff;
}

h1 {
    color:#ffffff;
    line-height: 2.5em;
}

.info {
    color:orange;
}

.check {
    text-align: left;
    background-color: #000000;
    color:#ffffff;
    height: 40px;
    position: relative;
    bottom: 10px;
}

h2 {
    color:#ff0000;
    font-size: 1.5em;
    line-height: 1.5em;
}

p {
    font-weight: 600;
    line-height: 2em;
}

span {
    font-weight: 600;
    color:#0000ff;
}

.time {
    font-size: small;
}