@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
*{
    /* font-family: 'bitbit'; */
    font-family:'NeoDunggeunmoPro-Regular'
}
form{
    border : 1px solid black;
    height:55em;
    display: grid;
}
input:focus{
    outline:none;
}
input[type=text]{
    border:0;
    border-bottom: 1px solid black;
    font-size: 17px;
    margin:0.5em;
}
div{
    margin:0.5em;
}
label{
    border-bottom: 1px solid black;
}
.todocheck:focus{
    text-decoration:line-through;
}
li{
    list-style: none;
}
ul {
    margin:0;
    border:1px dashed grey;
    width:30em;
    padding:1.5em;
}
table{
    /* border: 1px solid black; */
    border-collapse:collapse;
    margin:1.5em;
}
td{
    /* border:1px solid black; */
    padding:3px;
    width:30px;
    height:30px;
}
.not_month{
    color : rgba(0, 0, 0, 0.5)
}
th{
    /* background-color: rgba(210, 182, 247, 0.2); */
    border-bottom: 1px solid black;
    width:30px;
    height:20px;
}
h1{
    margin:15px;
}

.sat{
    color:blue;
}
.sun{
    color:red;
}
article{
    grid-column-end:8;
    margin-top:2em;
}

.check{
    background-color: rgba(137, 204, 248, 0.5);
    /* width:15em; */
    /* height:1.5em; */
    /* text-align: center; */
    /* grid-column-end:8; */
}